section {
    @include styleText($fs-1, $color-black-light, $fw-normal);
}

.student {
    .student__content {
        .student__title {
            h3 {
                font-size: 19px;
                font-weight: 400;
                line-height: $line-height-0;
                padding: 0 80px;
                color: rgb(80, 87, 99);
            }
        }
        .student__viewing {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .view__5Items{
                padding: 0 80px 0 70px;
                .student__cards {
                    margin-bottom: 20px;
                    height: 290px;
                    background: $color-white-0;
                    position: relative;
                    border: 1px solid $color-white-cream;
                    z-index: 0;
                    transition: all 0.3s;
                    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
                    &:hover {
                        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                    }
                    .student__pic {
                        height: 40%;
                        display: flex;
                        position: relative;
                        .student__overplay {
                            width: 100%;
                            background-color: #003845;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            opacity: 0;
                        }
                        img {
                            width: 100%;
                        }
                        &:hover {
                            .student__overplay {
                                opacity: 0.4;
                            }
                        }
                    }
                    .student__textArea {
                        padding: 15px 10px 0 15px;
                        .student__title {
                            p {
                                font-weight: $fw-bold-1;
                                height: 42px;
                                font-size: $fs-0;
                                color: $color-black-0;
                            }
                        }
                        .student__info {
                            margin-bottom: 10px;
                        }
    
                        .student__rating {
                            i {
                                color: $color-yellow;
                                font-size: 12px;
                            }
                            .rate__point {
                                color: $color-black-light;
                                font-weight: $fw-bold-1;
                                font-size: $fs-0;
                            }
                        }
    
                        .student__price {
                            position: absolute;
                            right: 15px;
                            bottom: 10px;
                            span {
                                text-decoration-line: line-through;
                            }
                            .new__price {
                                text-decoration: none;
                                font-size: 18px;
                                color: $color-black-0;
                                font-weight: $fw-bold-1;
                            }
                        }
                    }
                }
            }
            
        }
    }
}

// responsive
// max-width:1200px
@include responsive ('extra-large'){
    .student {
        .student__content {
            .student__viewing{
                width: 90%;
                margin: 0 auto;
                .view__5Items{
                    padding: 0 40px 0 30px;
                }
            }
        }
    }
}

// max-width:992px
@include responsive ('large'){
    .student {
        .student__content {
            .student__viewing{
                width: 90%;
                margin: 0 auto;
                .view__5Items{
                    padding: 0 50px 0 50px;
                }
            }
        }
    }
}

// max-width:768px
@include responsive ('medium'){
    .student {
        .student__content {
            .student__title{
                h3{
                    padding-left: 30px;
                }
            }
            .student__viewing{
                width: 90%;
                margin: 0 auto;
                .view__5Items{
                    padding: 0 10px 0 0;
                }
            }
        }
    }
}

// max-width:576px
@include responsive ('small'){
    .student {
        .student__content {
            .student__viewing{
                .view__5Items{
                    padding: 0;
                    .student__cards{
                        .student__textArea {
                            .student__title {
                                p {
                                    font-weight: $fw-bold-1;
                                    height: 42px;
                                    font-size: $fs-1;
                                    color: $color-black-0;
                                }
                            }
                            .student__info{
                                font-size: 12px;
                            }      
                            .student__rating {
                                i {
                                    color: $color-yellow;
                                    font-size: 7px;
                                }
                                .rate__point {
                                    color: $color-black-light;
                                    font-weight: $fw-bold-1;
                                    font-size: $fs-1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
